@import '/home/amitsingh/.config/ags/scss/generated/variables.scss';
* {
  all: unset;
  font-family: $font-name;
  font-size: $font-size;
  font-weight: $font-weight;
}

@import '/home/amitsingh/.config/ags/scss/style/bar/audio.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/bar.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/battery.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/bluetooth.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/clock.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/media.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/menu.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/network.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/notifications.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/power.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/systray.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/window_title.scss';
@import '/home/amitsingh/.config/ags/scss/style/bar/workspace.scss';
@import '/home/amitsingh/.config/ags/scss/style/colors.scss';
@import '/home/amitsingh/.config/ags/scss/style/common/common.scss';
@import '/home/amitsingh/.config/ags/scss/style/common/floating-widget.scss';
@import '/home/amitsingh/.config/ags/scss/style/common/widget-button.scss';
@import '/home/amitsingh/.config/ags/scss/style/highlights.scss';
@import '/home/amitsingh/.config/ags/scss/style/menus/audiomenu.scss';
@import '/home/amitsingh/.config/ags/scss/style/menus/bluetooth.scss';
@import '/home/amitsingh/.config/ags/scss/style/menus/calendar.scss';
@import '/home/amitsingh/.config/ags/scss/style/menus/dashboard.scss';
@import '/home/amitsingh/.config/ags/scss/style/menus/energy.scss';
@import '/home/amitsingh/.config/ags/scss/style/menus/media.scss';
@import '/home/amitsingh/.config/ags/scss/style/menus/menu.scss';
@import '/home/amitsingh/.config/ags/scss/style/menus/network.scss';
@import '/home/amitsingh/.config/ags/scss/style/menus/notifications.scss';
@import '/home/amitsingh/.config/ags/scss/style/menus/power.scss';
@import '/home/amitsingh/.config/ags/scss/style/notifications/popups.scss';
@import '/home/amitsingh/.config/ags/scss/style/osd/index.scss';
@import '/home/amitsingh/.config/ags/scss/style/settings/dialog.scss';