{{- if ne .chezmoi.os "darwin" -}}
.finicky.js
.config/brew
{{- else if ne .chezmoi.os "linux" -}}
.arch_pkg_list.txt
.config/awesome
.config/rofi
.config/picom
.xinitrc
.xserverrc
setup
{{ end }}
.config/nvim/lazy-lock.json
