{{- if ne .chezmoi.os "darwin" -}}
.finicky.js
.config/brew
bin/cron/cronlist
bin/cron/executable_24h-updates.sh
{{- else if ne .chezmoi.os "linux" -}}
.arch_pkg_list.txt
.config/fontconfig
.config/awesome
.config/rofi
.config/picom
.config/hypr
.config/wal
.config/waybar
.config/wlogout
.config/ags
.config/clight.conf
.xinitrc
.xserverrc
setup
{{ end }}
.config/nvim/lazy-lock.json
**/node_modules
**/node_modules/**/*
