{{ if ne .chezmoi.os "darwin" -}}
.finicky.js
.config/brew
.colima
bin/cron/cron_list
bin/cron/24h-updates.sh
{{- else if ne .chezmoi.os "linux" -}}
.arch_pkg_list.txt
.config/clight.conf
.config/awesome
.config/rofi
.config/picom
.config/hypr
.config/wal
.config/waybar
.xinitrc
.xserverrc
{{ end }}
