[init]
  defaultBranch = main
[core]
  pager = delta
  editor = nvim
[diff]
  colorMoved = default
[merge]
  conflictStyle = diff3
[interactive]
  diffFilter = delta --color-only
[delta]
  features = unobtrusive-line-numbers
  syntax-theme = ansi
  line-numbers = true
  side-by-side = true
  navigate = true
[user]
  email = amitds1997@gmail.com
  name = Amit Singh
  signingkey = FF60C6D1CF4F0C05
[include]
  path = ~/.gitconfig.local ; Contains [github] section
[includeIf "gitdir:~/c2fo/"]
  path = ~/c2fo/.gitconfig
[gpg]
  program = gpg
[commit]
  gpgSign = true
[fetch]
  prune = true
[rerere]
	enabled = true
