#!/usr/bin/env sh
{{ if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.id "arch" -}}
if ! command -v yay &> /dev/null
then
  # Install yay
  pacman -S --needed git base-devel
  git clone https://aur.archlinux.org/yay.git
  cd yay
  makepkg -si
  cd
  rm -rf yay
fi

# Install needed packages
yay -Syu
# DO NOT REMOVE COMMENT ON NEXT LINE. It handles running install when pkglist changes
# {{ include "dot_pkglist.txt" | sha256sum }}
yay -S --needed --nodiffmenu --nocleanmenu --noeditmenu --removemake - < ~/.pkglist.txt
  {{ end }}
{{ else if eq .chezmoi.os "darwin" -}}
brew bundle install --file=~/.config/brew/Brewfile
{{ end }}

# vim: ft=sh
