Host *
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
  IdentityFile ~/.ssh/id_rsa
{{- else if eq .chezmoi.os "linux" }}
  IdentityFile ~/.ssh/id_ed25519
{{- end }}

Include ~/.colima/ssh_config
# DevPod Start vscode-remote-try-node.devpod
Host vscode-remote-try-node.devpod
  ForwardAgent yes
  LogLevel error
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ProxyCommand /usr/local/bin/devpod ssh --stdio --context default --user node vscode-remote-try-node
  User node
# DevPod End vscode-remote-try-node.devpod
