{{ if eq .chezmoi.os "linux" -}}
pinentry-program /usr/bin/pinentry
{{ else if eq .chezmoi.os "darwin" -}}
pinentry-program /usr/local/bin/pinentry-mac
{{ end -}}
default-cache-ttl 28800
max-cache-ttl 28800
