@import "variables";

* {
  all: unset;
  font-family: $font-name;
  font-size: $font-size;
  font-weight: $font-weight;
}

@import "common";

@import "roundedCorners";
@import "workspaces";
@import "window_title";
@import "battery";
@import "clock";
@import "audio";
@import "network";
@import "systemtray";
