.bar-music-container {
  background-color: $surface;
  padding: 1px;

  .music-progress {
    font-size: 0.08rem;
    min-width: 12px;
    min-height: 12px;

    image {
      padding: 0.2rem;
      font-size: 0.5rem;
    }
  }

  label {
    margin-left: 0.5rem;
  }
}
